

}

.centered-text {
    text-align: center;
}
h1 {
    font-family: 'an_unfortunate_eventregular';
    src: url('anune___-webfont.woff2') format('woff2'),
         url('anune___-webfont.woff') format('woff');
	font-size: 40px;
}

h2 {
    font-family: 'overexposedregular';
    src: url('x-files-webfont.woff2') format('woff2'),
         url('x-files-webfont.woff') format('woff');
	font-size: 40px;
}

h3 {
    font-family: 'jmh_typewriterregular';
    src: url('jmh_typewriter-webfont.woff2') format('woff2'),
         url('jmh_typewriter-webfont.woff') format('woff');
	font-size: 30px;
}

h4 {
    font-family: "x-files", sans-serif;
	font-size: 23px;
}


button {
            display: inline-block; /* Affiche les boutons en ligne */
            margin: 0 10px; /* Ajoute de l'espace entre les boutons */
	width: 150px; /* Largeur du bouton */
            height: 50px; /* Hauteur du bouton */
            font-size: 20px; /* Taille de police du texte du bouton */
	background-color: white; /* Fond blanc */
            color: black; /* Texte noir */
	font-family: x-files, sans-serif; /* Police du texte */
}

  button:hover {
            background-color: black; /* Fond noir au survol */
            color: white; /* Texte blanc au survol */
	  font-family: x-files, sans-serif; /* Police du texte */
        }

#blog {
    max-width: 75%; /* Utilisation d'une largeur maximale en pourcentage */
    margin: 0 auto;
    text-align: center;
    align-content: center; /* Cette propriété n'est pas nécessaire ici */
}
